{% extends 'base.html.twig' %}

{% block title %}Training index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Mes Formations</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Créée le </th>
                <th>Editée le</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for training in trainings %}
                <tr>
                    <td>{{ training.name }}</td>
                    <td>{{ training.createdAt ? training.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ training.updatedAt ? training.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_training_show', {'id': training.id}) }}">Détails</a>
                        <a href="{{ path('app_training_edit', {'id': training.id}) }}">Editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Pas de formations enregistrées</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_training_new') }}" class="btn btn-primary">Ajouter une formation</a>
    </div>

{% endblock %}
