{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container">

        <a href="{{ path('user_create') }}" class="btn btn-primary mt-5">Creer nouvel Utilisateur</a>

        <h2 class="mt-5">Tous les utilisateurs : </h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Username</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Dernière connexion</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.userIdentifier }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td>
                            {% if user.lastConnexion is not null %}
                                {{ user.lastConnexion|date("d/m/Y") }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
